html {
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  max-height: 500px;
  overflow: hidden;
  position: relative;
}

.everything {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 45em;
  max-height: 500px;
  width: 100%;
}

.img-flex {
  display: block;
  width: 100%;
}

.content {
  text-align: left;
  padding: 1.5rem;
}

.img-second {
  width: 400px;
  padding: 1.2rem;
}

h2 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: .2em;
  margin-top: 0;
  max-width: 78%;
}

p {
  margin: 0;
  font-size: 1.5rem;
  margin-bottom: 1em;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

.btn {
  border: 3px solid #313131;
  padding: .9rem 1rem;
  background-color: #313131;
  border-radius: 10px;
}

.btn-big {
  font-family: Roboto, sans-serif;
  font-size: 1.5rem;
  color: #f5f5f5;
  text-decoration: none;
}

.btn:hover {
  border: 3px solid #000;
  background-color: #000;
}
